/* BASE LAYOUT CONTAINERS */
.page-container {
    margin: 0 10rem;
}
@media (max-width: 50rem) {
    .page-container {
        margin: 0 1rem; /* or whatever value fits your design */
    }
}

#user-data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); /* 1fr is one fraction of available space */
    gap: 1rem; /* spacing between grid items */
    padding: 1rem;
}

/* TOP TITLE + SEARCH BAR */

.title-search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 30rem) {
    .squad-name-header {
        font-size: 1.5rem;
    }
}

/* SQUAD CARD */

.squad-card {
    display: block;
    width: 100%;

    background-color: var(--popup-color);
    color: inherit;
    text-decoration: none; /* remove link underline */
    
    padding: 1rem;
    border: 0.1rem solid var(--shadow-color);
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}
.squad-card:hover {
    border-color: var(--red);
    background-color: var(--popup-color-hover);
    /*cursor: pointer;*/
    transition: border-color 0.1s ease, background-color 0.1s ease;
}


/* SUMMARY DATA SECTION */

.summary-data {
    margin: 0 1rem;
}
.summary-data p {
    margin: 0.1rem 0; /* top & right (if bottom & left aren't specified, defaults to the other side) */
}
.summary-data h1 {
    /*text-align: center;*/
    margin: 0.1rem 0;
}

.summary-label {
    color: var(--text-color);
    font-size: 0.86rem;
}
.summary-value {
    font-size: 1.3rem;
}

.squad-stats-container {
    padding: 2rem;
    background-color: var(--popup-color);

    border: 0.1rem solid var(--shadow-color);
    border-radius: 0.75rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); /* 1fr is one fraction of available space */
    gap: 1rem; /* spacing between grid items */
}

/* PER USER DATA SECTION */

.user-data {
    background-color: var(--popup-color);
    padding: 1rem;

    border: 0.1rem solid var(--shadow-color);
    border-radius: 0.75rem;
}
.user-data p, h3 {
    margin: 0.1rem 0; /* top & right (if bottom & left aren't specified, defaults to the other side) */
}
.user-data h3 {
    text-align: center;
}
.user-data:hover {
    border-color: var(--red);
    background-color: var(--popup-color-hover);
    cursor: pointer;
    transition: border-color 0.1s ease, background-color 0.1s ease;
}
.user-data:hover hr {
    color: var(--red);
    transition: border-color 0.1s ease;
}

.user-stats-container { /* Turn the stats into a grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); /* 1fr is one fraction of available space */
    gap: 1rem; /* spacing between grid items */
}

.user-stats-hr {
    margin: 1.5rem 0;
    color: var(--white);
}

.user-card-label {
    color: var(--text-color);
    font-size: 0.8rem;
    /*background-color: gray;*/
}

.last-seen {
    border-bottom: 0.1rem dotted var(--text-color);
    /*cursor: help;*/
}