:root {
    --background-color: hsl(0, 0%, 8%);
    --popup-color: hsl(0, 0%, 15%);
    --popup-color-hover: hsl(0, 0%, 17%);
    --shadow-color: hsl(0, 0%, 20%);

    --red: hsl(355, 71%, 51%);

    --white: white;
    --text-color: hsl(0, 0%, 80%);
}

body {
    background-color: var(--background-color) !important; 
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.page-container {
    margin: 0 8rem;
}

.summary-data {
    margin: 0 1rem;
}
.summary-data h2 {
    text-align: center;
    margin: 0.1rem 0 0.1rem 0;
}

.summary-label {
    color: var(--text-color);
    font-size: 1rem;
}
.summary-value {
    font-size: 1.3rem;
}

.summary-data p {
    margin: 0.1rem 0; /* top & right (if bottom & left aren't specified, defaults to the other side) */
}

.squad-stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); /* 1fr is one fraction of available space */
    gap: 1rem; /* spacing between grid items */
}

.user-data {
    background-color: var(--popup-color);
    padding: 16px;

    border: 0.1rem solid var(--shadow-color);
    border-radius: 12px;
}

.user-data:hover {
    border-color: var(--red);
    background-color: var(--popup-color-hover);
    transition: border-color 0.1s ease, background-color 0.1s ease;
}
.user-data:hover hr {
    color: var(--red);
    transition: border-color 0.1s ease;
}

.user-data p, h3 {
    margin: 0.1rem 0; /* top & right (if bottom & left aren't specified, defaults to the other side) */
}

.user-data h3 {
    text-align: center;
}

.user-stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); /* 1fr is one fraction of available space */
    gap: 1rem; /* spacing between grid items */
}

.user-stats-hr {
    margin: 1.5rem 0;
    color: var(--white);
}

.user-card-label {
    color: var(--text-color);
    font-size: 0.8rem;
    /*background-color: gray;*/
}

.last-seen {
    border-bottom: 0.1rem dotted var(--text-color);
    cursor: help;
}


#user-data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* 1fr is one fraction of available space */
    gap: 1rem; /* spacing between grid items */
    padding: 1rem;
}