name: Webhook-Triggered Squad Data Update

on:
  schedule:
    - cron: '*/15 * * * *' # every 15 mins
  repository_dispatch:
    types: [update-squad-data] # looks for job named update-squad-data
  workflow_dispatch:

permissions:
  contents: write # needs this permission to write to files

jobs:
  update-squad-data:
    runs-on: ubuntu-latest # free + fast

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install aiohttp

      - name: Run squad info update script
        run: #python squad_info/main.py

      - name: Commit and push changes # who it was changed by, etc.
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add data/squad_data.json
          git commit -m "Auto-update squad data $(date +'%Y-%m-%d %H:%M:%S')" || exit 0
          git pull origin main --rebase
          git push
